// Here you can add other styles
.list {
    list-style-type: none;
}

.text-right {
    text-align: right !important;
}

.card-img-top {
    object-fit: contain;
}

.table-container {
    height: 300px; /* establece la altura máxima del contenedor */
    overflow: auto; /* añade scrollbars al contenedor si el contenido excede la altura */
}

@media print {
    /* hide the default header and footer */
    @page {
        margin: 0;
    }
    @page :header {
        display: none;
    }
    
    @page :footer {
        display: none;
    }
    /* set the paper size to letter */
    @page {
        size: letter;
    }

    thead {display: none;}
    tfoot {display: none;}
    button {display: none; }
  
}